/* Контейнер для текста и изображения */
.faqBan1 {
  display: flex;
  flex-direction: row; /* Располагаем текст и изображение рядом */
  justify-content: center;
  align-items: center;
  text-align: left;
  margin-top: 10px;
  background-color: #F5F7FA;
  gap: 250px; /* Отступ в 30px между текстом и изображением */
  flex-wrap: wrap; /* Позволяем элементам переноситься на новую строку, если не хватает места */
  box-sizing: border-box;
}

/* Текст */
.faq-txt1 {
  font-family: "Inter", sans-serif;
  font-size: 64px;
  font-weight: 600;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
  color: #4D4D4D;
}

.faq-phot1 {
  width: 550px;
  height: 670px;
}

.faq-txt1-3{
  font-size: 16px;
  font-weight: lighter;
  margin-top: 30px;
}

.faq-container {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: row;
  margin: 10px;
  font-family: "Inter", sans-serif;
  justify-content: center; /* Центрируем содержимое по вертикали */
}

.question {
  background-color: #ffffff;
  padding: 10px;
  margin: 5px 0;
  cursor: pointer;
  width: 750px;
  display: flex;
  margin-bottom: 10px;
}

.question h3{
  margin-left: 20px;
  font-weight: lighter;
  font-size: 17px;
}

.answer {
  display: none;
  background-color: #E8F5E9;
  width: 648px;
  height: 280px;
  margin-left: 20px;
  justify-content: center; /* Центрируем содержимое по вертикали */
  margin-top: 5px;
  padding: 20px 0 20px 0;
  border-radius: 10px;
}

.queArrow{
  margin: 0 0 0 auto;
  color: #A5D6A7;
  font-size: 25px;
}
.answer div{
  width: 500px;
  margin-left: 80px;
}

.answer.visible {
  display: block;
}

.question.active {
  font-weight: bold;
  background-color: #FAFBFF;
}

.question.active .queCircle{
  background-color: #4CAF50;
}

.question.active .queArrow{
  color: #4CAF50;
}

.ansN{
  margin-top: 30px;
  font-size: 16px;
  margin-bottom: 10px;
}

.queCircle{
  width: 20px;
  height: 20px;
  border-radius: 30px;
  background-color: #A5D6A7;
}

@media (max-width: 1224px) {

  .faqBan1 {
    flex-direction: column; 
    gap: 50px; 
    margin-top: 10px;
  }

  .banner-img1-home {
    width: 70%; 
    height: auto;
  }
}
@media (max-width: 768px) {

  .faq-phot1 {
    width: 70%; 
    height: auto;
  }

  .faq-txt1 {
    font-size: 40px;
  }
}